body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: red;
}

#testSpot {
    border-color:black;
    border-width: 2px;
    border-style: solid;
    width: 100px;
    height: 50px; 
    vertical-align: center;
    text-align: center;
}

.LEDOn {
    background-color: blue;
}

.LEDOff {
    background-color: black;
}